* {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 28px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #a15462;
    height: 100vh;
}

#calcDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 440px;
    min-width: 320px;
    max-width: 320px;
    border: 1px solid #191f36;
    border-radius: 10px;
    background-color: #384885;
    box-shadow: 0 0 20px 2px #181f3a;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 275px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #191f36;
    padding: 10px 20px 10px 0;
    font-size: 30px;
    background-color: #dae1fa;
}

#valor-actual, #valor-anterior {
    font-size: 35px;
}

#valor-anterior{
    color: #696969;
}

button {
    width: 65px;
    height: 55px;
    background-color: #292929;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px rgb(32, 32, 32);
}

#borrar {
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: #44989b;
}

#borrar:hover {
    background-color: #79d5d6; 
}

#reset {
    background-color: rgb(187, 62, 62);
}

#reset:hover {
    background-color: rgb(216, 95, 95);
}

.operador {
    color: #78faff;
}

button:hover {
    background-color: #555454;
    transition: 0.1s;
}

button:active {
    scale: 0.9;
}

.clear {
    flex-basis: 135px;
}

#btns {
    display: flex;
    flex-basis: 300px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-height: 300px;
    padding: 0px 10px ;
    margin-bottom: 15px;
}

p, #calcDiv {
    font-weight: 400;
    font-size: 25px;
    margin-top: auto;
}

p {
    display: flex;
    gap: 2px;
    align-items: center;
}

img {
    height: 24px;
}